# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.simple-kmod.mod.cmd
.simple-kmod.ko.cmd
.simple-kmod.mod.o.cmd
.simple-kmod.o.cmd
simple-kmod.ko
simple-kmod.mod
simple-kmod.mod.c
simple-kmod.mod.o
simple-kmod.o
.simple-procfs-kmod.ko.cmd
.simple-procfs-kmod.mod.cmd
.simple-procfs-kmod.mod.o.cmd
.simple-procfs-kmod.o.cmd
simple-procfs-kmod.ko
simple-procfs-kmod.mod
simple-procfs-kmod.mod.c
simple-procfs-kmod.mod.o
simple-procfs-kmod.o
spkut
Module.symvers
modules.order